@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Post No Bills Jaffna';
    src: url('/fonts/PostNoBillsJaffna-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Post No Bills Jaffna';
    src: url('/fonts/PostNoBillsJaffna Bold 700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Post No Bills Jaffna';
    src: url('/fonts/PostNoBillsJaffna-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "stencil";
    src: url('../public/fonts/DINNextStencil-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "stencil";
    src: url('../public/fonts/DINNextStencil-Bold.ttf');
    font-weight: 700;
}

.stencil {
    font-family: 'stencil';
}